*{
    text-align: center;
}
h1{
    font-family: 'Teko', sans-serif;
    font-size: 72px;
}

body{
    background-color:#CECECE;
}
#img-div{
    display: block;
    object-fit:cover;
 
}
#img-div img{
    border-radius: 30px;
    border: solid white 2px;
    
 
}
q{
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color:blavk;
    background-color: #6FFF84;
    padding: 20px;
    padding-bottom: 80px;
    border-radius: 30px;
}


ul{
    font-size: 30px;
    list-style: none;
}

ul li {
    color: #4f4f4f;
    padding: 10px;


}
#image-caption{
    font-weight: 100;
    color:#303030;
}

h3{
    color: #303030;
    font-size: 32px;
}
footer{
    color:gray;
}
footer a{
    color:black;
}